body{
    background-color: #bbab86;
    overflow: hidden;
}
.container #slide .item .content .name {
    font-size: 35px;
}
.container #slide .item .content .des {
    font-size: 15px;
    font-weight: 500;
    color: #FFEDD8;
}
#slide{
    width:max-content;
    margin-top:50px;
}
.item{
    width:200px;
    height:300px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top:50%;
    transform: translate(0,-50%);
    border-radius: 20px;
    box-shadow:  0 30px 50px #505050;
}
.item:nth-child(1),
.item:nth-child(2){
    left:0;
    top:0;
    transform: translate(0,0);
    border-radius: 0;
    width:100%;
    height:100%;
    box-shadow: none;
}
.item:nth-child(3){
    left:50%;
}
.item:nth-child(4){
    left:calc(50% + 220px);
}
.item:nth-child(5){
    left:calc(50% + 440px);
}
.item:nth-child(n+6){
    left:calc(50% + 660px);
    opacity: 0;
}
.item .content{
    position: absolute;
    top:50%;
    left:10vw;
    width:300px;
    text-align: left;
    padding:0;
    color:#eee;
    transform: translate(0,-50%);
    display: none;
    font-family: system-ui;
}
.item:nth-child(2) .content{
    display: block;
    z-index: 11111;
}
.item .name{
    font-size: 40px;
    font-weight: bold;
    color: #E6BE8A;
    opacity: 0;
    animation:showcontent 1s ease-in-out 1 forwards
}
.item .des{
    margin:20px 0;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.3s 1 forwards
}
.item button{
    padding:10px 20px;
    border:none;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.6s 1 forwards
}
@keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter:blur(0);
    }
}

.buttons button{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid hsl(38, 61%, 73%);
    transition: 0.5s;
}
.buttons{
    /* position: relative;
    bottom:-110%;
    right: -90%; */
    position: relative;
    bottom: -73vh;
    left: 36vw;
    z-index: 1;
    text-align: center;
    width:18vw;
    display: flex;
    margin-right: 10px;
}
.buttons #prev{
    margin-right: 20px;
}
.buttons button:hover{
    background-color: hsl(38, 61%, 73%);
}

  @media (max-width: 1350px) and (min-width: 960px){
    .content {
        & .title        { font-size: 1.4rem; }
        & .description  { font-size: 1.1rem; }
        & button        { font-size: 0.9rem; }
      }
    .item {
        width: 16vw;
        height: 43vh;
    
        &:nth-child(3) { left: 42%; }
        &:nth-child(4) { left: calc(42% + 19vw); }
        &:nth-child(5) { left: calc(42% + 38vw); }
        &:nth-child(6) { left: calc(42% + 57vw); opacity: 0; }
      }
  }

  @media (width > 700px) and (width < 960px) {
    .content {
      & .title        { font-size: 1rem; }
      & .description  { font-size: 0.7rem; }
      & button        { font-size: 0.7rem; }
    }
    .item {
        width: 14vw;
        height: 38vh;
    
        &:nth-child(3) { left: 47%; }
        &:nth-child(4) { left: calc(47% + 17vw); }
        &:nth-child(5) { left: calc(47% + 34vw); }
        &:nth-child(6) { left: calc(47% + 51vw); opacity: 0; }
      }
      .item .content {
        position: absolute;
        top: 50%;
        left: 8vw;
        width: 300px;
        text-align: left;
        padding: 0;
        color: #eee;
        transform: translate(0, -50%);
        display: none;
        font-family: system-ui;
    }
    .container #slide .item .content .des {
        font-size: 20px;
        font-weight: 500;
        color: #FFEDD8;
    }
    .container #slide .item .content .name {
        font-size: 40px;
    }
  }
  
  @media (width < 700px) {
    .content {
      & .title        { font-size: 1.4rem; }
      & .description  { font-size: 1.1rem; }
      & button        { font-size: 0.9rem; }
    }
    .container #slide .item .content .des {
        font-size: 15px;
        font-weight: 500;
        color: #FFEDD8;
    }
    .item {
        width: 8vw;
        height: 35vh;
    
        &:nth-child(3) { left: 65%; }
        &:nth-child(4) { left: calc(65% + 11vw); }
        &:nth-child(5) { left: calc(65% + 22vw); }
        &:nth-child(6) { left: calc(65% + 33vw); opacity: 0; }
      }
    .container #slide .item .content .name {
        font-size: 25px;
    }
    .item .content {
        position: absolute;
        top: 50%;
        left: 8vw;
        width: 300px;
        text-align: left;
        padding: 0;
        color: #eee;
        transform: translate(0, -50%);
        display: none;
        font-family: system-ui;
    }
  }
